In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados_residencial_final_v3.csv', sep = ';')

In [3]:
dados.sample(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor por m2,Tipo Agregado
13724,Apartamento,Leblon,2,1,1,85,4000.0,1050.0,230.0,47.06,Apartamento
8680,Apartamento,Botafogo,2,1,1,90,3200.0,920.0,130.0,35.56,Apartamento
11146,Apartamento,Recreio dos Bandeirantes,4,2,4,190,3950.0,1290.0,300.0,20.79,Apartamento
8282,Apartamento,Recreio dos Bandeirantes,3,2,1,109,2500.0,842.0,192.0,22.94,Apartamento
18410,Apartamento,Península,2,2,2,98,3200.0,1388.0,235.0,32.65,Apartamento
17209,Apartamento,Ipanema,4,1,1,250,12000.0,3795.0,7384.0,48.00,Apartamento
11394,Apartamento,Laranjeiras,2,0,0,65,2100.0,817.0,28.0,32.31,Apartamento
17686,Apartamento,Leme,2,0,0,75,2700.0,878.0,0.0,36.00,Apartamento
17932,Apartamento,São Conrado,2,2,2,110,4500.0,2357.0,735.0,40.91,Apartamento
12687,Apartamento,Copacabana,4,1,0,141,4500.0,1139.0,378.0,31.91,Apartamento

In [4]:
# criando uma distribuição de frequencia por valor:

In [8]:
# criando uma lista de distribuição:
# 0 a 2 quartos
# 3 a 4 quartos
# 5 a 6 quartos
# 7 ou mais
classes = [0,2,4,6,100] #utilizando valores máximos como limitadores

In [15]:
#distribuição usando .cut()

quartos = pd.cut(dados['Quartos'], classes)

In [16]:
quartos.sample(5)

15127    (2, 4]
18696    (2, 4]
13509    (0, 2]
5009     (2, 4]
16393    (0, 2]
Name: Quartos, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [17]:
# verificando frequencia:

pd.value_counts(quartos)

(0, 2]      11722
(2, 4]       9686
(4, 6]        687
(6, 100]       55
Name: Quartos, dtype: int64

In [18]:
# (x,y] => ( significa que o X não está incluso, e o ] significa que o Y está incluso

In [19]:
# configurando para melhore visualização:

labels =['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 ou mais quartos']

In [20]:
quartos = pd.cut(dados['Quartos'], classes, labels = labels)

In [21]:
pd.value_counts(quartos)

1 e 2 quartos        11722
3 e 4 quartos         9686
5 e 6 quartos          687
7 ou mais quartos       55
Name: Quartos, dtype: int64